/* styles in src/style directory are applied to the whole page */

a {
  color: #03A9F4;
}

footer {
  text-align: center;
  font-size: 0.8em;
}


.md-table-pagination .label{
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
}

.employeeReportContainer{
  padding: 2em;
}